.topbar {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    // background: white;
    border-bottom: 1px solid #e6e9ee;

    margin-bottom: 8px;
    background: #fff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

    .profile-icon {
        display: flex;
        align-items: center;
        gap: 5px
    }

    .left-humberger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 2px;

        .brand {
            color: #242E42;
            // font-family: 'RobotoBold';
            margin: 0;
            font-size: 24px;
            line-height: 1;
        }
    }

    .hamburger {
        font-size: 1.25rem;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }

    .brand {
        font-weight: 600;
        margin-left: 0.5rem;
    }

    // .spacer {
    //
    // flex: 1 1 auto;
    // }
}