<header class="topbar">
    <div class="left-humberger-icon">
        <button class="hamburger" (click)="toggleSidebarHandler()" aria-label="Toggle sidebar">
            ☰
        </button>
        <div class="brand">My Dashboard</div>
    </div>
    <!-- <div class="spacer"></div> -->
    <!-- <div class="actions">
        <button class="icon">
        </button>
        <button class="profile">Hi, User</button>
    </div> -->
    <div class="d-flex align-items-center profile-icon" aria-haspopup="true"
        aria-expanded="false">
        <span class="logged-in-user">
            <img alt="User" height="30px" width="30px"
                src="https://dev.nowcast.cc/image-service/api/v1/upload/load/17952">
        </span>
        <span _ngcontent-ng-c3364372531="" class="pointer user-name" ng-reflect-tooltip="Roberts">Hi,
            Roberts
        </span>
    </div>
</header>