.switch-bar {
    width: 100%;
    height: 45px;
    background: #4e5071;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}