<aside class="sidebar" [class.closed]="!open">
    <nav>
        <ul>
            <li><a routerLink="/">Dashboard</a></li>
            <li><a routerLink="/channels">Channels</a></li>
            <li><a routerLink="/reports">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <button (click)="close.emit()">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z" stroke-width="0.9" stroke="#000" fill="#000"></path>
            </svg>
        </button>
    </div>
</aside>
