.dashboard {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;


    }

    .card {
        background: white;

        padding: 30px;
        box-shadow: 1px 3px 16px #878787;
        border-radius: 13px;


        div li a,
        a {
            // list-style-type: none;
            text-decoration: none;
            color: #2c7be5;
        }

        div li {
            list-style-type: none;
        }


        .chart-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .chart-item {
                // border: 1px solid lightgrey;

                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid lightgrey;
                padding: 15px;
                width: max-content;
                font-size: 14px;
                height: 35px;
                cursor: pointer;
                border-radius: 6px;
                /* color: grey; */
                font-weight: 600;
                text-align: center;
                margin-left: 10px;

            }

            h3 {
                font-size: 16px;
                padding: 0;
                margin: 0;
                margin-bottom: 15px;
                color: #68696a;
                letter-spacing: 1px !important;
                text-transform: uppercase;
                font-weight: normal;
            }

        }

        .chart-heading ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 300px;

            list-style: none;
            padding: 0;
            margin: 0;

            li {
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 4px;
                transition: background 0.3s ease;
                color: grey;

                &:hover {
                    background: #f2f2f2;
                }

                &.active {
                    background: #2c7be5;
                    color: white;
                    font-weight: 600;
                }
            }
        }


        h3 {
            margin: 0 0 0.5rem 0;
        }

        .value {
            font-size: 1.25rem;
            font-weight: 700;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        h5 {
            font-weight: normal;
        }




        .panel:nth-child(4) {
            grid-column: 1 / -1;
        }

        .panel {
            background: white;
            // padding: 1rem;
            border-radius: 8px;
            min-height: 120px;

            padding: 25px;

            // padding: 30px;
            // box-shadow: 1px 3px 16px #878787;
            // border-radius: 13px;

            h2 {
                // font-size: 16px;
                padding: 0;
                margin: 0;
                // margin-bottom: 15px;
                // color: #68696a;
                letter-spacing: 1px !important;
                text-transform: uppercase;
                font-weight: normal;

                font-size: 35px;
                color: #707070;
                margin: 0;
                // margin-bottom: 15px;
            }
        }

        .panel a {
            text-decoration: none;
            color: #2c7be5;
        }

        .panel h5 {
            font-size: 16px;
            padding: 0;
            margin: 0;

            color: #68696a;
            letter-spacing: 1px !important;
            text-transform: uppercase;
        }

        // .panel h2 {
        //     font-size: 35px;
        //     color: #707070;
        //     margin: 0;
        //     margin-bottom: 15px;
        // }

        .large {
            grid-column: span 8;

            grid-column: auto;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .medium {
            grid-column: span 4;



        }

        .app-launches {
            padding: 30px;
            box-shadow: 1px 3px 16px #878787;
            border-radius: 13px;
        }

        .small {
            grid-column: span 4;
        }

        .image-panel-wrapper {
            position: relative;
            display: inline-block;
            width: 100%;
            border-radius: 13px;
            overflow: hidden;
            box-shadow: 1px 3px 16px #878787;
        }

        .image-panel-wrapper img {
            display: block;
            width: 100%;
            height: 172px;
            background-color: #fff;
        }


        .image-panel-wrapper .panel.medium {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 55%;
            background: rgba(255, 255, 255, 0.9);
            padding: 1rem;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            align-items: flex-start;

            text-align: left;
            padding: 30px;
        }


    }

    .grid .panel:nth-child(1),
    .grid .panel:nth-child(2),
    .grid .panel:nth-child(3) {
        grid-column: auto;
        display: flex;
        flex-direction: column;
        // gap: 21px;
        border-radius: 13px;
        gap: 12px;
    }

    .grid .panel:nth-child(4) {
        grid-column: 1 / -1;
    }

    .grid .panel:nth-child(5),
    .grid .panel:nth-child(6),
    .grid .panel:nth-child(7) {
        grid-column: auto;
    }
}


@media (max-width: 1200px) {


    .dashboard .grid .large {
        grid-column: span 12;
    }

    .dashboard .grid .medium {
        grid-column: span 6;
    }

    .dashboard .grid .small {
        grid-column: span 6;
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    .dashboard {
        .grid {
            grid-template-columns: 1fr !important;
            gap: 1rem;

            .panel {
                grid-column: auto !important;
                width: 100%;
            }
        }


        .cards {
            grid-template-columns: 1fr !important;
        }
    }
}